<section id="page">
    <div id="main-content">
        <!-- SAMPLE BOX CONFIGURATION MODAL FORM-->
        <div class="modal fade" id="box-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Box Settings</h4>
                    </div>
                    <div class="modal-body">
                        Here goes box setting content.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /SAMPLE BOX CONFIGURATION MODAL FORM-->
        <div class="container">
            <div class="row">
                <div id="content" class="col-lg-12">
                    <!-- PAGE HEADER-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-header">
                                <!-- STYLER -->

                                <!-- /STYLER -->
                                <!-- BREADCRUMBS -->
                                <ul class="breadcrumb">
                                    <li>
                                        <i class="fa fa-home"></i>
                                        <a href="/#!/">Home</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-list-ol"></i>
                                        <a href="/#!/clientes" >Listado de Clientes</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-edit"></i>
                                        <a >Editar Clientess</a>
                                    </li>
                                </ul>
                                <!-- /BREADCRUMBS -->
                                <div class="clearfix">
                                    <h3 class="content-title pull-left">Editar Clientes</h3>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- /PAGE HEADER -->
                    <!-- FORMS -->




                    <div class="row">
                        <div class="col-md-12">
                            <!-- BASIC -->
                            <div class="box border orange">
                                <div class="box-title">
                                    <h4><i class="fa fa-bars"></i>Registrar Cliente</h4>
                                </div>
                                <div class="box-body big">
                                    <form class="form-horizontal" ng-init="x = 0" data-ng-submit="update(x)" role="form">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">RUT</label>
                                            <div class="col-sm-9">

                                                <input  type="text" data-ng-model="cliente.rut" id="rut" class="form-control" placeholder="RUT">

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Nombre </label>
                                            <div class="col-sm-9">

                                                <input  type="text" data-ng-model="cliente.nombreCliente" id="nombreCliente" class="form-control" placeholder="Nombre Cliente">

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Apellido</label>
                                            <div class="col-sm-9">
                                                <input  type="text" data-ng-model="cliente.apellidoCliente" id="ApellidoCliente" class="form-control" placeholder="Apellido Cliente">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Email</label>
                                            <div class="col-sm-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon">@</span>
                                                    <input  type="text" data-ng-model="cliente.email" id="email" class="form-control" placeholder="Email">
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Teléfono</label>
                                            <div class="col-sm-9">
                                                <input  type="text" data-ng-model="cliente.fono" id="fono" class="form-control" placeholder="Teléfono">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Dirección</label>
                                            <div class="col-sm-9">
                                                <input  type="text" data-ng-model="cliente.direccion" id="direccion" class="form-control" placeholder="Dirección">
                                            </div>
                                        </div>


                                        <div data-ng-show="error" style="text-align: center;" class="text-danger">
                                            <strong data-ng-bind="error"></strong>
                                        </div>
                                        <div data-ng-show="success" class="text-success" style="text-align: center;">
                                            <strong data-ng-bind="success"></strong>
                                        </div>
                                        <div class="wizard-buttons">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <button type="button" ng-click="save(true);" class="btn btn-primary">Guardar y Regresar</button>
                                                        <button type="button" ng-click="save();" class="btn btn-success">Guardar</button>
                                                        <a type="button" href="/clientes" class="btn btn-danger">Cancelar</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-tools">
                            <span class="go-top">
                                <i class="fa fa-chevron-up"></i> Top
                            </span>
            </div>
        </div><!-- /CONTENT-->
    </div>

</section>