<div id="sidebar" class="sidebar">
    <div class="sidebar-menu nav-collapse">
        <div class="divide-20"></div>
        <div id="search-bar">
            <input class="search" type="text" placeholder="Search"><i class="fa fa-search search-icon"></i>
        </div>
        <ul>
            <li class="active">
                <a href="/#!/">
                    <i class="fa fa-tachometer fa-fw"></i> <span class="menu-text">Inicio</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li class="has-sub">
                <a href="javascript:;" class="">
                    <i class="fa fa-users fa-fw"></i> <span class="menu-text">Clientes</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="/agendac"><span class="sub-menu-text"><i class="fa fa-book fa-fw"></i>Agenda de Clientes</span></a></li>
                    <li><a class="" href="/clientes"><span class="sub-menu-text"><i class="fa fa-users fa-fw"></i>Lista de Clientes</span></a></li>
                    <li><a class="" href="/agendae"><span class="sub-menu-text"><i class="fa fa-book fa-fw"></i>Agenda de Empresas</span></a></li>
                    <li><a class="" href="/empresas"><span class="sub-menu-text"><i class="fa fa-building-o fa-fw"></i>Lista de Empresas</span></a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="/productos">
                    <i class="fa fa-dropbox fa-fw"></i> <span class="menu-text">Bodega</span>
                </a>
            </li>
            <li class="has-sub">
                <a href="javascript:;" class="">
                    <i class="fa fa-pencil-square-o fa-fw"></i> <span class="menu-text">Ordenes</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="/orden"><span class="sub-menu-text">Orden de Pedido</span></a></li>
                    <li><a class="" href="/ordenes"><span class="sub-menu-text">Orden de Trabajo</span></a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="/usuarios">
                    <i class="fa fa-user fa-fw"></i> <span class="menu-text">Usuarios</span>
                </a>
            </li>
        </ul>
        <!-- /SIDEBAR MENU -->
    </div>
</div>