<section id="page">
    <div id="main-content" data-ng-init="find()">
        <!-- SAMPLE BOX CONFIGURATION MODAL FORM-->
        <div class="modal fade" id="box-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Box Settings</h4>
                    </div>
                    <div class="modal-body">
                        Here goes box setting content.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /SAMPLE BOX CONFIGURATION MODAL FORM-->

        <div class="container">
            <div class="row">
                <div id="content" class="col-lg-12">
                    <!-- PAGE HEADER-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-header">
                                <ul class="breadcrumb">
                                    <li>
                                        <i class="fa fa-home"></i>
                                        <a href="/#!/">Home</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-book"></i>
                                        <a >Agenda de Empresas</a>
                                    </li>
                                </ul>
                                <!-- /BREADCRUMBS -->
                                <div class="clearfix">
                                    <h3 class="content-title pull-left">Clientes Empresas</h3>
                                </div>
                                <div class="description"></div>
                            </div>
                        </div>
                    </div>
                    <!-- /PAGE HEADER -->
                    <!-- DATA TABLES -->
                    <div class="box border green">
                        <div class="box-title">
                            <h4><i class="fa fa-book"></i>Lista de Contactos Empresas</h4>

                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-4" style="overflow-y:auto;height:600px">
                                    <div id="address-book">
                                        <form>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                                    <input type="text" class="form-control" placeholder="Buscar" ng-model="searchFish">
                                                </div>
                                            </div>
                                        </form>
                                        <div class="slider-content">
                                            <ul style="margin: 19px;padding: 6px;list-style-type: none;">
                                                <li class="liBorder" data-ng-repeat="empresa in empresas | orderBy:'nombreEmpresa' | filter:{nombreEmpresa:searchFish}" ng-click="handleSliderNav(empresa)">
                                                    <strong>Rut:</strong> {{empresa.rut}} - <strong>Nombre:</strong> {{ empresa.nombreEmpresa }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div id="contact-card" class="panel panel-default" style="display: none;">
                                        <div class="panel-heading">
                                            <h2 class="panel-title">John Doe</h2>
                                        </div>
                                        <div class="panel-body">
                                            <div id="card" class="row">
                                                <div class="col-md-12">
                                                    <div class="panel panel-default">
                                                        <div class="panel-body">
                                                            <div class="tabbable">
                                                                <ul class="nav nav-tabs">
                                                                    <li class="active"><a href="#tab_1_1" data-toggle="tab"><i class="fa fa-home"></i> Datos Empresa</a></li>
                                                                    <li><a href="#tab_1_2" data-toggle="tab"><i class="fa fa-envelope"></i>Contacto</a></li>

                                                                </ul>
                                                                <div class="tab-content">
                                                                    <div class="tab-pane fade in active" id="tab_1_1">
                                                                        <div class="divide-10"></div>
                                                                        <table class="table table-hover">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td><i class="fa fa-font"></i> Nombre:</td>
                                                                                <td id="card-name"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><i class="fa fa-info"></i> RUT:</td>
                                                                                <td id="card-rut"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><i class="fa fa-building-o"></i> Giro:</td>
                                                                                <td id="card-giro"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><i class="fa fa-home"></i> Dirección:</td>
                                                                                <td id="card-direccionEmpresa"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><i class="fa fa-phone"></i> Teléfono:</td>
                                                                                <td id="card-fono"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><i class="fa  fa-home"></i> Email:</td>
                                                                                <td id="card-mailempresa"></td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>

                                                                    </div>

                                                                    <div class="tab-pane fade" id="tab_1_2">
                                                                        <table ng-hide="contactoSeleccionado" ng-hi cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
                                                                            <tr>

                                                                                <th>Rut</th>
                                                                                <th>Nombre</th>
                                                                                <th>Apellido</th>
                                                                                <th>Detalles</th>
                                                                            </tr>
                                                                            <tr ng-repeat="contacto in empresa.contactos">
                                                                                <td>{{contacto.rut}}</td>
                                                                                <td>{{contacto.nombre}}</td>
                                                                                <td>{{contacto.apellido}}</td>
                                                                                <td><a  ng-click="contactoSelec(contacto);">Ver</a></td>
                                                                            </tr>
                                                                        </table>

                                                                        <div class="divide-10"></div>
                                                                        <table class="table table-hover" ng-show="contactoSeleccionado">

                                                                            <tbody>
                                                                            <tr>
                                                                                <td><i class="fa fa-font"></i> Nombre:</td>
                                                                                <td>{{contactoSeleccionado.nombre}}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><i class="fa fa-bold"></i> Apellido:</td>
                                                                                <td>{{contactoSeleccionado.apellido}}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><i class="fa fa-info"></i> RUT:</td>
                                                                                <td>{{contactoSeleccionado.rut}}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><i class="fa fa-envelope"></i> Email:</td>
                                                                                <td>{{contactoSeleccionado.email}}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td><i class="fa fa-phone"></i> Teléfono:</td>
                                                                                <td>{{contactoSeleccionado.fono}}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <button class="btn btn-danger" ng-show="contactoSeleccionado" ng-click="contactoSeleccionado='';">X</button>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="panel-body">
                                                    <table class="table table-striped table-bordered table-hover">
                                                        <thead>
                                                        <tr>
                                                            <th><i class="fa fa-user"></i> Numero de Orden</th>
                                                            <th><i class="fa fa-calendar"></i> Fecha</th>
                                                            <th><i class="fa fa-calendar"></i> Fecha de Entrega</th>
                                                            <th><i class="fa fa-bars"></i> Estado</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="orden in ordenes | filter:filtro">
                                                            <td><a href="javacript:">{{orden.nroOrden}}</a></td>
                                                            <td><a >{{orden.fecha}}</a></td>
                                                            <td><a >{{orden.fechaCompromiso}}</a></td>
                                                            <td><span class="label label-success label-sm">{{orden.estado}}</span></td>
                                                        </tr>

                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- /EXPORT TABLES -->
                    <div class="footer-tools">
                            <span class="go-top">
                                <i class="fa fa-chevron-up"></i> Arriba
                            </span>
                    </div>
                </div><!-- /CONTENT-->
            </div>
        </div>



    </div>
</section>