<div class="modal fade" id="box-config3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="padding: 1px;">
                <div class="container">
                    <div class="row">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="box border orange" style="margin-bottom: 1px !important">
                                            <div class="box-title">
                                                <h4><i class="fa fa-bars"></i>Adjuntar Detalles a Producto: {{ producSelec.codigo }}</h4>
                                            </div>
                                            <div class="box-body big">
                                                <form class="form-horizontal" role="form">
                                                    <div class="separator"></div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Comentario</label>
                                                        <div class="col-sm-9">
                                                            <textarea readonly data-ng-model="producSelec.comentario" class="form-control" rows="3"></textarea>
                                                        </div>
                                                    </div>
                                                    <table ng-show="producSelec.url" class="table table-striped table-hover font-400 font-14">
                                                        <thead>
                                                        <tr>
                                                            <th>Descargar</th>
                                                        </tr>
                                                        </thead>
                                                        <tr ng-repeat="archivo in producSelec.url">
                                                            <td><a target="_self" class="btn btn-success" href="{{archivo}}" download>Descargar</a></td>
                                                        </tr>
                                                    </table>
                                                    <div class="wizard-buttons">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="col-md-offset-3 col-md-9">
                                                                    <button type="button" class="btn btn-success btn-lg" ng-click="" data-dismiss="modal">Cerrar</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="pull-center">
                <th>
                    <div class='text-center'>Fecha Emision:<strong> {{ordene.fecha}}</strong></div>
                </th>
                <th>
                    <div class='text-center'>Hora Emision: <strong>{{ordene.hora}}</strong></div>
                </th>
                <th>
                    <div class='text-center'>Fecha Compromiso: <strong> {{ordene.fechaCompromiso | date:"dd/MM/yyyy" }}</strong></div>
                </th>
            </div>
            <div class="pull-right hidden-xs">
                <div class="btn-group">
                    <a ng-show="colaborando && globalRoles(['admin','Gerente','Produccion'])"  class="btn btn-primary"><i class="fa fa-check-square-o"></i> Colaborando</a>
                    <a ng-show="!colaborando && globalRoles(['admin','Gerente','Produccion'])" ng-click="colaborar()"  class="btn btn-primary"><i class="fa fa-square-o"></i> Colaborar</a>
                    <a ng-show="globalRoles(['admin','Gerente','Recepcionista'])" href="/orden/{{ordene._id}}" class="btn btn-default"><i class="fa fa-bars"></i> Detalle Pedido</a>
                    <button ng-show="colaborando && finalizable"   ng-click="finalizar()" class="btn btn-danger"><i class="fa fa-check"></i> Marcar como Finalizado</button>
                    <button ng-show="entregable"   ng-click="entregadoF();" class="btn btn-danger"><i class="fa fa-check"></i> Marcar como Entregado</button>
                </div>
            </div>
            <div class="pull-left visible-xs">
                <div class="btn-group">
                    <button class="btn btn-sm btn-default"><i class="fa fa-bars"></i> Fullfill selected</button>
                    <button  ng-click="terminada(ordene)" class="btn btn-sm btn-success"><i class="fa fa-check"></i> Marcar como Completado</button>
                </div>
            </div>
            <div class="clearfix"></div>
            <hr>
            <!-- TABLE -->
            <table class='table table-hover'>
                <thead>
                <tr>
                    <th>
                        Estado
                    </th>
                    <th>
                        Detalle
                    </th>
                    <th>
                        <div class='text-center'>
                            Cantidad
                        </div>
                    </th>
                    <th>
                        <div class='text-center'>
                            Realizados
                        </div>
                    </th>
                    <th>
                        <div class='text-center'>
                            Entregados
                        </div>
                    </th>
                    <th>
                        <div class='text-center'>
                            Detalle
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="producto in ordene.productosOrden" ng-hide="producto.tipo == 'Producto' && globalRoles(['Produccion'])">
                    <td>
                        <select ng-disabled="puedeEditar(producto)" ng-model="producto.estado">
                            <option value="Pendiente" ng-show="globalRoles(['admin','Gerente','Produccion']) || producto.tipo == 'Producto'">
                                Pendiente
                            </option>
                            <option value="en proceso" ng-show="globalRoles(['admin','Gerente','Produccion'])">
                                Proceso
                            </option>
                            <option value="finalizado" ng-show="globalRoles(['admin','Gerente','Produccion']) && producto.cantidad == producto.realizados">
                                Finalizado
                            </option>
                            <option value="entregado" ng-show="globalRoles(['admin','Gerente','Recepcionista']) && producto.cantidad == producto.entregados">
                                Entregado
                            </option>
                        </select>
                    </td>

                    <td>{{producto.nombreProducto}}</td>

                    <td>
                        <div class='text-center'>{{producto.cantidad}}</div>
                    </td>
                    <td>
                        <div class='text-center'><div ng-hide="globalRoles(['admin','Gerente','Produccion']) && producto.tipo == 'Sub-Producto' && colaborando">{{producto.realizados}}</div><input type="number" max="{{producto.cantidad}}" min="0" style="width:70px;" ng-model="producto.realizados" ng-model-options="{ updateOn: 'blur' }" ng-show="globalRoles(['admin','Gerente','Produccion']) && producto.tipo == 'Sub-Producto' && colaborando"></div>
                    </td>
                    <td>
                        <div class='text-center'><input type="number" max="{{producto.realizados}}" min="0" style="width:70px;" ng-model="producto.entregados" ng-model-options="{ updateOn: 'blur' }"></div>
                    </td>
                    <td>
                        <button ng-disabled="!colaborando" href="#box-config3" ng-show="producto.tipo === 'Sub-Producto' || producto.tipo === 'especial'" class="btn btn-primary config"  ng-click="pSelecionado(producto);" data-toggle="modal">Detalle</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="text-right">
            </div>
            <hr>
            <div class="row" ng-show="globalRoles(['admin','Gerente','Recepcionista'])">
                <div class="col-sm-4">
                    <h4><strong>Abono:</strong>
                        <i class="fa fa-dollar"></i>
                        <strong>{{ordene.abono}}</strong>
                    </h4>
                    <h5><strong><span class="label label-success"><i class="fa fa-check"></i> Pagado</span></strong></h5><br>
                    <h4><strong>Saldo:</strong>
                        <i class="fa fa-dollar"></i>
                        <strong>{{ordene.saldo}}</strong>
                    </h4>
                    <h5><strong><span class="label label-primary"><i class="fa fa-check"></i> Por Pagar</span></strong></h5><br>
                </div>
                <div class="col-sm-7 col-sm-offset-1">
                    <h4>
                        <i class="fa fa-envelope"></i>
                        Valores Orden de Pedido
                    </h4>
                    <div class="well">
                        <h5><strong>{{ordene.responsable}}</strong></h5><br>
                        TOTAL : <strong>{{ordene.total}}</strong><br>
                        ABONO : <strong>{{ordene.abono}}</strong><br>
                        SALDO : <strong>{{ordene.saldo}}</strong>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-actions form-actions-padding">
                <h4>
                    <i class="fa fa-envelope"></i>
                    Observaciones
                </h4>
                <ul class="pager" > <strong>{{ordene.observacion}}</strong>
                </ul>
            </div>
        </div>
    </div>
</div>