<section id="page">
    <div id="main-content">

        <div class="container">
            <div class="row">
                <div id="content" class="col-lg-12">
                    <!-- PAGE HEADER-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-header">
                                <!-- STYLER -->

                                <!-- /STYLER -->
                                <!-- BREADCRUMBS -->
                                <ul class="breadcrumb">
                                    <li>
                                        <i class="fa fa-home"></i>
                                        <a href="/#!/">Home</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-inbox"></i>
                                        <a >Orden De Trabajo</a>
                                    </li>
                                  

                                </ul>
                                <!-- /BREADCRUMBS -->
                                <div class="clearfix">
                                    <h3 class="content-title pull-left">Orden de Trabajo</h3>
                                </div>
                                <div class="description">Detalles Orden de Trabajo</div>
                            </div>
                        </div>
                    </div>

                    <!-- ORDERS -->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BOX -->
                            <div class="box border purple">
                                <div class="box-title">
                                    <h4><i class="fa fa-list-ul"></i>Detalles Orden de Trabajo</h4>
                                   <!-- <div class="tools">
                                        <a href="#box-config" data-toggle="modal" class="config">
                                            <i class="fa fa-cog"></i>
                                        </a>
                                        <a href="javascript:;" class="reload">
                                            <i class="fa fa-refresh"></i>
                                        </a>
                                        <a href="javascript:;" class="collapse">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a href="javascript:;" class="remove">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>-->
                                </div>
                                <div class="box-body">
                                    <!-- ORDERS -->
                                    <div class="row">
                                        <!-- ORDER SCROLL -->
                                        <div class="col-md-12">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <form class="form-horizontal " action="#" ng-show="globalRoles(['admin'])">
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label">Select product color </label>
                                                            <div class="col-md-8">
                                                                <label class="checkbox-inline"><input type="checkbox" value="">Option 1</label>
                                                                <label class="checkbox-inline"><input type="checkbox" value="">Option 2</label>
                                                                <label class="checkbox-inline"><input type="checkbox" value="">Option 3</label>
                                                                <label class="checkbox-inline"><input type="checkbox" value="">Option 3</label>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!-- ORDER SCROLL -->
                                        <div class="col-md-4">

                                            <div class="panel panel-default">
                                                <div class="panel-body orders">
                                                    <div style="height: 650px;overflow: auto;" >

                                                        <ul class="list-unstyled"  ng-repeat="ordene in ordenes | reverse">
                                                            <a ng-href="/ordenes/{{ordene._id}}">
                                                                <li class="clearfix">

                                                                    <div class="pull-left">
                                                                        <p>
                                                                        <h5><strong>#{{ordene.idOrden}}</strong> {{ordene.responsable}}</h5>
                                                                        </p>
                                                                        <p><i class="fa fa-clock-o"></i> <abbr class="timeago" title="Oct 9, 2013" >{{ordene.fecha}}</abbr></p>

                                                                    </div>
                                                                    <div class="text-right pull-right">
                                                                        <h4 class="cost">{{ordene.fechaCompromiso}}</h4>
                                                                        <p>
                                                                            <span class="label label-success arrow-in-right"><i class="fa fa-check"></i>            {{ordene.estado}}</span>
                                                                        </p>
                                                                    </div>
                                                                    <div class="clearfix"></div>

                                                                    <div class="progress progress-sm">
                                                                        <div class="progress-bar progress-bar-info" role="progressbar"  style="width: {{ordene.avance}}%;">
                                                                            <span class="sr-only">15% Complete</span>
                                                                        </div>
                                                                    </div>
                                                                    <div ><img ng-repeat="colaboradores in ordene.colaboradores" alt="" src="{{ colaboradores.url }}" style="
        margin-right: 5px;
        border-radius: 99px;
        height: 40px;
        width: 40px;
    "></div>

                                                                </li>
                                                            </a>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class='text-center'>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /ORDER SCROLL -->
                                        <!-- ORDER DETAILS -->
                                        <div ui-view></div>
                                        <!-- /ORDER DETAILS -->
                                    </div>
                                    <!-- ORDERS -->
                                </div>
                            </div>
                            <!-- /BOX -->
                        </div>
                    </div>
                    <!-- ORDERS -->
                </div>
            </div>
            <!-- /BOX -->
        </div>
    </div>
</section>