<section id="page">
    <div id="main-content">
        <!-- SAMPLE BOX CONFIGURATION MODAL FORM-->
        <div class="modal fade" id="box-config3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body" style="padding: 1px;">
                        <div class="container">
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="box border orange" style="margin-bottom: 1px !important">
                                                    <div class="box-title">
                                                        <h4><i class="fa fa-bars"></i> Detalles del Producto: {{ producSelec.codigo }}</h4>
                                                    </div>
                                                    <div class="box-body big">
                                                        <form class="form-horizontal" role="form">
                                                            <div class="separator"></div>
                                                            <div class="form-group">
                                                                <label class="col-sm-3 control-label">Comentario</label>
                                                                <div class="col-sm-9">
                                                                    <textarea data-ng-model="producSelec.comentario" class="form-control" rows="3"></textarea>
                                                                </div>
                                                            </div>
                                                            <table class="table table-striped table-hover font-400 font-14">
                                                                <thead>
                                                                <tr>
                                                                    <th>Nombre Archivo</th>
                                                                </tr>
                                                                </thead>
                                                                <tr ng-repeat="archivo in producSelec.idImg" ng-init="archivoimg = cargarArchivo(archivo);">
                                                                    <td><a ng-href="{{ archivoimg.url() }}" target="_blank">{{ archivoimg.original.name }}</a></td>
                                                                </tr>
                                                            </table>

                                                            <div class="wizard-buttons">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="col-md-offset-3 col-md-9">
                                                                            <button type="button" class="btn btn-success btn-lg" ng-click="" data-dismiss="modal">Cerrar</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="box-config4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body" style="padding: 1px;">
                        <div class="container">
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="box border orange" style="margin-bottom: 1px !important">
                                                    <div class="box-title">
                                                        <h4><i class="fa fa-bars"></i> Detalles del Producto: {{ producSelec.codigo }}</h4>
                                                    </div>
                                                    <div class="box-body big">
                                                        <form class="form-horizontal" role="form">
                                                            <table class="table table-striped table-hover font-400 font-14">
                                                                <thead>
                                                                <tr>
                                                                    <th>Producto</th>
                                                                </tr>
                                                                </thead>
                                                                <tr ng-repeat="producto in stock.productosDetalle">
                                                                    <td>{{ producto }}</td>
                                                                </tr>
                                                            </table>

                                                            <div class="wizard-buttons">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="col-md-offset-3 col-md-9">
                                                                            <button type="button" class="btn btn-success btn-lg"  data-dismiss="modal">Cerrar</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /SAMPLE BOX CONFIGURATION MODAL FORM-->
        <div class="container">
            <div class="row">
                <div id="content" class="col-lg-12">
                    <!-- PAGE HEADER-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-header">
                                <!-- STYLER -->

                                <!-- /STYLER -->
                                <!-- BREADCRUMBS -->
                                <ul class="breadcrumb">
                                    <li>
                                        <i class="fa fa-home"></i>
                                        <a href="/">Inicio</a>
                                    </li>
                                    <li>
                                        <a href="/cotizacion">Cotizaciones</a>
                                    </li>
                                    <li>Cotizacion</li>
                                </ul>
                                <!-- /BREADCRUMBS -->
                                <div class="clearfix">
                                    <h3 class="content-title pull-left">Cotizacion</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /PAGE HEADER -->
                    <!-- INVOICE -->
                    <div class="">
                        <div class="col-md-12">
                            <!-- BOX -->
                            <div class="box">
                                <div class="box-title">
                                    <div class='invoice-title' style="margin-left: 20px;"><i style="color:#000;" class="fa fa-shopping-cart"></i> Información de la Cotización</div>
                                </div>
                                <div class="box-body">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <form class="form-horizontal" role="form">
                                            <div class="tab-pane" id="payment">
                                                <div class="box-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <!-- BOX -->
                                                            <div class="box">
                                                                <div class="box-title">
                                                                    <div class='invoice-title' style="margin-left: 20px;"> <i class="fa fa-shopping-cart"></i> Cotizacion</div>

                                                                </div>
                                                                <div class="box-body">
                                                                    <div class="panel panel-default">
                                                                        <div class="panel-body">

                                                                            <div class='row'>

                                                                                <div class='col-md-12'>
                                                                                    <div class="invoice-header clearfix">
                                                                                        <h3 class='pull-left'>
                                                                                            <i class='fa fa-money'></i>
                                                                                        </h3>
                                                                                        <div class='pull-right'>
                                                                                            <div class='btn-group'>

                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>


                                                                                <div class='invoice-title' style="margin-left: 20px;">Establecer Fecha</div>

                                                                                <div class="form-group">
                                                                                    <label class="control-label col-md-1">Fecha:<span class="required"></span> </label>
                                                                                    <div class="col-md-2">
                                                                                        <input readonly type="text" class="form-control" data-ng-model="orden.fecha">
                                                                                        <span class="error-span"></span>

                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label class="control-label col-md-2">Fecha Entrega:<span class="required"></span></label>
                                                                                        <div class="col-md-4">
                                                                                            <input type="date"  min="{{ hoy }}" data-ng-model="orden.fechaCompromiso" name="fechae">
                                                                                            <span class="error-span"></span>
                                                                                        </div>
                                                                                    </div>

                                                                                </div>

                                                                            </div>



                                                                            <div class="form-group">

                                                                            </div>
                                                                            <table ng-if="searchDog" class="table table-striped table-hover font-400 font-14">
                                                                                <thead>

                                                                                <tr>
                                                                                    <th>Codigo</th>
                                                                                    <th>Nombre|Detalle</th>
                                                                                    <th>
                                                                                        Cantidad
                                                                                    </th>
                                                                                    <th>
                                                                                        Precio Comercial
                                                                                    </th>
                                                                                    <th>
                                                                                        Precio Agencia
                                                                                    </th>
                                                                                </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                <tr  data-ng-repeat="producto in productos | filter:searchDog" ng-click="alerta2(producto)">
                                                                                    <td data-ng-bind="producto.codigo"></td>
                                                                                    <td data-ng-bind="producto.nombreProducto"></td>
                                                                                    <td data-ng-bind="producto.cantidad"></td>
                                                                                    <td data-ng-bind="producto.precioComercial "></td>
                                                                                    <td data-ng-bind="producto.precioAgencia"></td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                            <!-- COST TABLE -->
                                                                            <table class="table table-striped table-hover font-400 font-14">
                                                                                <thead>
                                                                                <tr>
                                                                                    <th>Código</th>
                                                                                    <th>Item/ Descripción</th>
                                                                                    <th width="125">Medida</th>
                                                                                    <th>
                                                                                        Cantidad
                                                                                    </th>
                                                                                    <th>
                                                                                        Costo Unitario
                                                                                    </th>
                                                                                    <th>
                                                                                        Descuento
                                                                                    </th>
                                                                                    <th>
                                                                                        Precio Total
                                                                                    </th>
                                                                                    <th>

                                                                                    </th>
                                                                                </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                <tr ng-repeat="produc in orden.productosOrden" ng-init="habilitado = habilitar(produc);">
                                                                                    <td>
                                                                                        {{produc.codigo}}
                                                                                    </td>
                                                                                    <td>
                                                                                        <input ng-model="produc.nombreProducto" type="text" ng-readonly="!habilitado">
                                                                                    </td>
                                                                                    <td>
                                                                                        <div ng-show="produc.tipo === 'Sub-Producto' || produc.tipo === 'especial'">
                                                                                            <input ng-readonly="!habilitado" ng-change="calcular(produc)"   class="medidas" style="width: 45px;" ng-model="produc.alto" type="number"> x
                                                                                            <input ng-readonly="!habilitado" ng-change="calcular(produc)"  class="medidas"  style="width: 45px;" ng-model="produc.ancho" type="number">
                                                                                        </div>
                                                                                    </td>
                                                                                    <td id="cantidad">
                                                                                        <input ng-readonly="!habilitado" ng-change="calcular(produc)" ng-model="produc.cantidad" max="{{produc.cantidadP}}" min="0"  type="number">
                                                                                    </td>
                                                                                    <td>

                                                                                        <input ng-readonly="!habilitado" ng-change="calcular(produc)" class="" ng-model="produc.precioVenta">
                                                                                    </td>
                                                                                    <td>
                                                                                        <input ng-readonly="!habilitado" ng-change="calcular(produc)" class="" ng-model="produc.descuento">
                                                                                    </td>
                                                                                    <td>
                                                                                        {{produc.precioTotal}}
                                                                                    </td>
                                                                                    <td>
                                                                                        <A href="#box-config3" ng-show="produc.tipo === 'Sub-Producto' || produc.tipo === 'especial'" class="btn btn-primary config"  ng-click="pSelecionado(produc);" data-toggle="modal">Detalle</A>
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                                <tfoot>
                                                                                <div class="separator"></div>
                                                                                <tr>
                                                                                    <th colspan="3" style="border-top: 0px solid #dddddd;"></th>
                                                                                    <th  style="border-top: 0px solid #dddddd;"></th>
                                                                                    <th style="border-top: 0px solid #dddddd;"></th>
                                                                                    <th colspan="2" style="float:right;width:40%;text-align:right;border-left: 1px solid #dddddd;border-right: 1px solid #dddddd;">
                                                                                        NETO
                                                                                    </th>
                                                                                    <th colspan="2">
                                                                                        ${{ orden.neto }}
                                                                                    </th>
                                                                                </tr>
                                                                                <tr>
                                                                                    <th colspan="3" style="border-top: 0px solid #dddddd;"></th>
                                                                                    <th style="border-top: 0px solid #dddddd;">

                                                                                    </th>
                                                                                    <th style="border-top: 0px solid #dddddd;"></th>
                                                                                    <th colspan="2" style="float:right;width:40%;text-align:right;border-left: 1px solid #dddddd;border-right: 1px solid #dddddd;">
                                                                                        I.V.A
                                                                                    </th>
                                                                                    <th colspan="2">
                                                                                        ${{ orden.iva }}
                                                                                    </th>

                                                                                </tr>
                                                                                <tr>
                                                                                    <th colspan="3" style="border-top: 0px solid #dddddd;"></th>
                                                                                    <th style="border-top: 0px solid #dddddd;padding:0px;"><table style="width:100%;">
                                                                                        <tr>
                                                                                            <td style="width:30%">
                                                                                                <input style="padding:0 0px 0px 10px;height: 27px;" type="text" readonly class="form-control" value="${{ orden.total }}" placeholder="Total">

                                                                                            </td>
                                                                                            <td style="width:30%">

                                                                                                <input style="padding:0 0px 0px 10px;height: 27px;" type="number" min="0"  ng-change="abono(orden.abono)" ng-init="orden.abono=0;" data-ng-model="orden.abono" class="form-control" placeholder="Abono">

                                                                                            </td>
                                                                                            <td style="width:30%">


                                                                                                <input style="padding:0 0px 0px 10px;height: 27px;" type="number" readonly ng-init="orden.saldo=0" data-ng-model="orden.saldo" class="form-control" placeholder="Saldo">


                                                                                            </td>
                                                                                        </tr>

                                                                                    </table></th>
                                                                                    <th style="border-top: 0px solid #dddddd;"></th>
                                                                                    <th style="float:right;width:40%;text-align:right;border-left: 1px solid #dddddd;border-right: 1px solid #dddddd;border-bottom: 2px solid #dddddd;">
                                                                                        Total
                                                                                    </th>
                                                                                    <th style="border-bottom: 2px solid #dddddd;">
                                                                                        ${{ orden.total }}
                                                                                    </th>

                                                                                </tr>
                                                                                </tfoot>
                                                                            </table>
                                                                            <hr>

                                                                        </div>
                                                                        <!-- /FOOTER -->


                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- /BOX -->
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class='invoice-title' style="margin-left: 20px;">Observación General</div>

                                                <div class="form-group">
                                                    <label class="control-label col-md-1"><span class="required"></span></label>
                                                    <div class="col-md-10">
                                                        <textarea data-ng-model="orden.observacion" class="form-control" rows="3"></textarea>
                                                        <span class="error-span"></span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                        <table>
                                                            <tr>
                                                                <td style="width: 10%;text-align:right;">
                                                                    Documento:
                                                                </td>
                                                                <td style="width: 10%;text-align:right;">
                                                                    <input type="text" class="form-control" ng-model="orden.documento" placeholder="Documentos N°">
                                                                </td>
                                                                <td style="border-bottom: 2px solid #dddddd;width:10%;text-align:right;">
                                                                Banco:
                                                                </td>
                                                                <td style="width: 10%;text-align:right;">
                                                                    <input type="text" class="form-control" ng-model="orden.banco"  placeholder="Banco">
                                                                </td>
                                                                <td style="width: 10%;text-align:right;">

                                                                </td><td style="width: 10%;text-align:right;">

                                                            </td>
                                                            </tr>
                                                        </table>

                                                        </div>
                                                    </div>
                                                    <!-- /DROPZONE -->

                                                </div>

                                                <div class="wizard-buttons">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="col-md-offset-3 col-md-9">
                                                                <a href="/cotizacion" class="btn btn-danger">
                                                                    <i class="fa fa-arrow-circle-left"></i> Cancelar
                                                                </a>
                                                                <a href="/cotizacion/{{orden._id}}"  class="btn btn-default">
                                                                    Cotizacion
                                                                </a>
                                                                <a href="#" ng-click="guardado();"  class="btn btn-success">
                                                                    Guardar Cotizacion
                                                                </a>
                                                                <a  href="javascript:;" ng-click="generar();" class="btn btn-primary">
                                                                    Generar Orden <i class="fa fa-arrow-circle-right"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                                </form>
                                        </div>
                                    </div>
                                    <!-- /BOX -->
                                </div>
                            </div>
                            <!-- /INVOICE -->
                            <div class="footer-tools">
							<span class="go-top">
								<i class="fa fa-chevron-up"></i> Top
							</span>
                            </div>
                        </div><!-- /CONTENT-->
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>